.login-page {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.678);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(151, 0, 151);
  margin: 10px 15px ;
  
  h1 {
    margin: 0px auto 10px 0px;
  }
}
